<p id="notice"><%= notice %></p>

<p>
  <strong>Address1:</strong>
  <%= @admin_address.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @admin_address.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @admin_address.city_id %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @admin_address.zip_code %>
</p>

<p>
  <strong>Active:</strong>
  <%= @admin_address.active %>
</p>

<p>
  <strong>User:</strong>
  <%= @admin_address.user_id %>
</p>

<%= link_to 'Edit', edit_admin_address_path(@admin_address) %> |
<%= link_to 'Back', admin_addresses_path %>
