<!-- top navigation -->
<div class="top_nav">
  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <% unless request.path.split('/').include?('admin') %><%= render 'partials/search_bar' %><% end %>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Switch to Admin', back_as_admin_path if session[:was_admin] %></li>

        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <%= image_tag "user.png" %><%= current_user.full_name %>
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><%= link_to 'Profile', current_user %></li>
            <li>
              <a href="javascript:;">
                <span class="badge bg-red pull-right">50%</span>
                <span>Settings</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">Help</a>
            </li>
            <li>
              <%= link_to destroy_user_session_path, :method => :delete do %>
                  Logout
                  <i class="fa fa-sign-out pull-right"></i>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

</div>
<!-- /top navigation -->
