<div class="col-md-6">
  <%= simple_form_for(@state, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :name %>
    <%= f.input :country_id %>
    <%= f.input :abbreviation %>
    <%= f.button :submit_cancel, 'Save', cancel: states_path %>
  <% end %>
</div>
