<div class="search-result container">
  <hgroup class="mb20">
		<h1>All Products</h1>
	</hgroup>

      <section class="col-xs-12 col-sm-6 col-md-12">
        <% @products.each do |product| %>
          <article class="search-result row">
    			<div class="col-xs-12 col-sm-12 col-md-3">
    				<a href="#" title="Lorem ipsum" class="thumbnail"><img src="https://www.gstatic.com/webp/gallery/<%= 1 %>.png" alt="Lorem ipsum" /><%= product.images %></a>
    			</div>

    			<div class="col-xs-12 col-sm-12 col-md-7 excerpet">
    				<h3><a href="#" title=""><%= product.name %></a></h3>
            <h5><a href="#" brand=""><%= product.brand.name %></a></h5>
    				<p><%= product.description %></p>
    			</div>
  			<span class="clearfix borda"></span>
  		</article>
        <% end %>


  	</section>
  </div>
</div>
