<div class="col-md-6">
  <%= simple_form_for(@city, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :name %>
    <%= f.input :state_id, collection: State.all, prompt: 'Choose a State' %>
    <%= f.input :abbreviation %>
    <%= f.button :submit_cancel, 'Save', cancel: cities_path %>
  <% end %>
</div>
