<div class="col-md-8">
	<%= simple_form_for(@user, url: send("admin_#{controller_name}_path") , html: { class: 'form-horizontal' }) do |f| %>

	  <!-- Personal Info -->
	  <span class="section">Personal Information</span>
	  <%= f.input :first_name %>
	  <%= f.input :middle_name %>
	  <%= f.input :last_name %>
	  <%= f.input :email %>
	  <%= f.input :password, placeholder: 'Minimum six characters.' %>
	  <%= f.input :password_confirmation, placeholder: 'Minimum six characters.' %>
	  <%= f.input :phone, label: 'Phone Number' %>
	  <%= f.input :secondary_phone, label: 'Alternate Number' %>
	  <%= image_tag(@user.avatar_url) if @user.avatar? %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>

	  <!-- Adresss Fields -->
	  <span class="section">Address</span>
	  <div id="addresses">
		  <%= f.simple_fields_for :addresses do |address| %>
		    <%= render 'admin/users/address_fields', f: address %>
		  <% end %>	
		</div>

		<% if @user.customer? %>
			<!-- Plan Fields -->
			<span class="section">Plan Details</span>
			<%= render 'admin/users/plan_fields', f: f %>
		<% end %>

		<% if @user.employee? %>
			<!-- Employee Detail Fields -->
			<div id="employee_detail">
		  	<%= f.simple_fields_for :employee_detail do |detail| %>
					<span class="section">Employee Detail Details</span>
					<%= render 'admin/users/employee_detail_fields', f: detail %>
				<% end %>	
		<% end    	%>	
	  <%= f.button :submit_cancel, 'Save', cancel: admin_customers_path %>
	<% end %>
</div>

