<div class="col-md-4 col-sm-4 col-xs-12 profile_details">
    <div class="well profile_view">
      <div class="col-sm-12">
        <h4 class="brief"><i><%= user.batch_id %></i></h4>
        <div class="left col-xs-7">
          <h2><td><%= user.full_name %></td></h2>
          <p><strong>Shift: </strong> <%= user.shift %></p>
          <p><strong>Time: </strong> <%= user.preferred_time %></p>
          <ul class="list-unstyled">
            <li><i class="fa fa-building"></i> Address: <%=  %></li>
            <li><i class="fa fa-phone"></i> Phone #: <%= user.phone %></li>
          </ul>
        </div>
        <div class="right col-xs-5 text-center">
          <%= image_tag(user.avatar_url(:thumbnail), :width => 100, :height => 100, class: "img-circle") if user.avatar? %>
        </div>
      </div>
      <div class="col-xs-12 bottom text-center">
        <div class="col-xs-12 col-sm-6 emphasis">
          <p class="ratings">
            <a>4.0</a>
            <a href="#"><span class="fa fa-star"></span></a>
            <a href="#"><span class="fa fa-star"></span></a>
            <a href="#"><span class="fa fa-star"></span></a>
            <a href="#"><span class="fa fa-star"></span></a>
            <a href="#"><span class="fa fa-star-o"></span></a>
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 emphasis">
          <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
            </i> <i class="fa fa-comments-o"></i> </button>
          <%= link_to admin_customer_path(user), class: "btn btn-primary btn-xs" do %>
            <i class="fa fa-user"> </i> View Profile
          <% end %>  
          </button>
        </div>
      </div>
    </div>
  </div>

