<div class="col-md-6">
  <%= simple_form_for(@product, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :keywords %>
    <%= f.input :featured, :input_html => { class: 'bootstrap-switch' }  %>
    <%= f.input :active, :input_html => { class: 'bootstrap-switch' }  %>
    <%= f.input :brand_id %>
    <%= f.button :submit_cancel, 'Save', cancel: products_path %>
  <% end %>
</div>
