<p id="notice"><%= notice %></p>

<h2 class="x_title">Products</h2>

<div class="x_content">
  <%= link_to 'Create Product', new_product_path, class: 'btn btn-success' %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Keywords</th>
        <th>Featured</th>
        <th>Active</th>
        <th>Brand</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= product.keywords %></td>
          <td><%= product.featured %></td>
          <td><%= product.active %></td>
          <td><%= product.brand.name %></td>
          <td><%= link_to 'Show', product, class: 'btn btn-primary btn-sm' %></td>
          <td><%= link_to 'Edit', edit_product_path(product), class: 'btn btn-info btn-sm' %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
