<div class="col-md-6">  
  <%= simple_form_for(@plan, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :name %>
    <%= f.input :start_date, as: :string, input_html: { class: "datetimepicker" } %>
    <%= f.input :end_date, as: :string, input_html: { class: "datetimepicker" } %>
    <%= f.button :submit_cancel, 'Save', cancel: plans_path %>
  <% end %>
</div>
