<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Sarvjal" %></title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="login">
<div class="login_wrapper">
  <div class="animate form login_form">
    <% flash.each do |key, value| %>
        <div align="center" id="flash" class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <section class="login_content">
<%= yield %>
    </section>
  </div>
</div>      
<%= javascript_include_tag 'footermanifest', 'data-turbolinks-track' => true %>

</body>
</html>
